<app-default-page
    [links]="this.links"
    [pageTitle]="this.pageTitle"
>
    <div class="content-window global-shadow">
        <ng-content></ng-content>
        <div class="buttons-row">
            <span class="tertiary-button text-preset-350" [routerLink]="this.returnLink">Cancelar</span>
            <app-primary-button (click)="this.createOrUpdate()" [label]="this._primaryButtonLabel"></app-primary-button>
        </div>
    </div>
</app-default-page>
<app-loading-modal
    [message]="'Carregando o registro, por favor, aguarde.'"
    *ngIf="this.isLoadingData"
></app-loading-modal>