<app-default-detail-page
    [createCallback]="this.employeeService.create.bind(this.employeeService)"
    [form]="this.form"
    [links]="this.links"
    [loadDataCallback]="this.employeeService.read.bind(this.employeeService)"
    [pageTitle]="'Colaboradores'"
    [returnLink]="'/employees/employees'"
    [updateCallback]="this.employeeService.update.bind(this.employeeService)"
>
    <div class="grid" [formGroup]="this.form">
        <div class="col-8">
            <app-divider [label]="'Dados pessoais'"></app-divider>
        </div>
        <div class="col-8">
            <app-photo-upload
                [imageUrl]="this.form.controls['photoUrl'].value"
                (callImageCropper)="this.callImageCropper($event)"
                (deleteImage)="this.discardImage()"
            ></app-photo-upload>
        </div>
        <div class="col-3">
            <app-bordered-field 
                [abstractControl]="this.form.controls['name']"
                [label]="'Nome'"
                formControlName="name"
            ></app-bordered-field>
        </div>
        <div class="col-5">
            <app-bordered-field 
                [abstractControl]="this.form.controls['surname']"
                [label]="'Sobrenome'"
                formControlName="surname"
            ></app-bordered-field>
        </div>
        <div class="col-4">
            <app-bordered-field
                [abstractControl]="this.form.controls['email']"
                [label]="'Email'"
                formControlName="email"
            ></app-bordered-field>
        </div>
    </div>
    <div class="grid">
        <div class="col-8">
            <app-divider [label]="'Cursos (Necessário escolher ao menos um)'"></app-divider>
        </div>
        <div class="col-8 courses-chips">
            <app-chip
                (click)="toggleCourseSelection(course.name)"
                [isActive]="this.isCourseSelected(course.name)"
                [label]="course.name"
                *ngFor="let course of this.courses"
            ></app-chip>
        </div>
    </div>
    <div class="grid">
        <div class="col-8">
            <app-divider [label]="'Calendário'"></app-divider>
        </div>
        <div class="working-time" [formGroup]="this.form">
            <app-employee-working-time [formArray]="workingTimesForm"></app-employee-working-time>
        </div>
    </div>
</app-default-detail-page>
<app-photo-cropper
    (discardImageEvent)="this.discardImage()"
    [imagePath]="this.form.controls['photoUrl'].value"
    *ngIf="this.showImageCropper"
    (saveImageEvent)="this.saveImage($event)"
></app-photo-cropper>