<app-default-data-page
    [links]="this.links"
    [newRegistryLink]="'/students/plans/new'"
    [pageTitle]="'Alunos'"
>
    <table>
        <thead>
            <tr>
                <th>Aluno</th>
                <th>Curso</th>
                <th>Preço</th>
                <th>Início</th>
                <th>Vencimento</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let plan of this.data">
                <td
                    class="link-cell"
                    [routerLink]="'/students/plans/detail/' + plan.id"
                >{{plan.student.name + " " + plan.student.surname}}</td>
                <td>{{plan.course.name}}</td>
                <td>{{plan.value | currency}}</td>
                <td>{{plan.startDate | date: 'yyyy/MM/dd'}}</td>
                <td>{{plan.endDate | date: 'yyyy/MM/dd'}}</td>
            </tr>
        </tbody>
    </table>
</app-default-data-page>
