:host {
    align-items: center;
    background-color: var(--c-white-10);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: absolute;
    width: 256px;
    z-index: 1;
}

.status {
    height: 100%;
    width: 12px;
}

.status.break {
    background-color: var(--c-yellow-10);    
}

.status.busy {
    background-color: var(--c-red-10);
}

.status.free {
    background-color: var(--c-green-20);
}

.status.not-avaliable {
    background-color: var(--c-dark-10);
}

.class-data {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding: 8px 12px;
}

.status.break > .class-data, .status.not-avaliable > .class-data {
    display: none;
}

.class-data__student-photo-wrapper {
    background-color: rebeccapurple;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.class-data_student-data {
    display: flex;
    flex-direction: column;
}

.student-data__name {
    color: var(--c-dark-60);
}

.student-data__class {
    color: var(--c-dark-40);
}

.status-description {
    color: var(--c-dark-60);
    padding-left: 12px;
}