<ui-default-detail-page
    [links]="this.links"
    [pageTitle]="this.pageTitle"
>
    <ui-loading-message
        [label]="'Carregando dados do conteúdo'"
        *ngIf="this.isLoading"
    ></ui-loading-message>
    <ng-container *ngIf="!this.isLoading">
        <form class="grid" [formGroup]="this.form" [noValidate]>
            <div class="col-4">
                <ui-bordered-field
                    [disabled]="true"
                    [label]="'Título'"
                    [value]="this.form.controls.title"
                ></ui-bordered-field>
            </div>
            <div class="col-8">
                <ui-bordered-field
                    [disabled]="true"
                    [label]="'Descrição'"
                    [value]="this.form.controls.description"
                ></ui-bordered-field>
            </div>
            <div class="col-4">
                <ui-bordered-field
                    [disabled]="true"
                    [label]="'Curso'"
                    [value]="this.form.controls.course.controls.name.value"
                ></ui-bordered-field>
            </div>
            <div class="col-8">
                <ui-bordered-field
                    [disabled]="true"
                    [label]="'Link do conteúdo'"
                    [value]="this.form.controls.contentUrl.value"
                ></ui-bordered-field>
            </div>
        </form>
        <ui-buttons-row
            [primaryButtonShow]="false"
            (tertiaryButtonClick)="this.navigateToContentManagement()"
            [tertiaryButtonLabel]="'Voltar'"
        ></ui-buttons-row>
    </ng-container>
</ui-default-detail-page>