<app-default-detail-page
    [links]="this.links"
    [pageTitle]="'Avisos'"
>
    <div class="grid">
        <div class="col-8">
            <app-divider [label]="'Dados do conteúdo'"></app-divider>
        </div>
        <div class="col-4">
            <app-bordered-field
                [abstractControl]="this.form.controls['title']"
                formControlName="title"
                [label]="'Título'"
            ></app-bordered-field>
        </div>
        <div class="col-8">
            <app-bordered-field
                [abstractControl]="this.form.controls['description']"
                [fieldConfig]="{ type: 'textarea' }"
                formControlName="description"
                [label]="'Descrição'"
            ></app-bordered-field>
        </div>
        <div class="col-4">
            <app-bordered-field
                [abstractControl]="this.form.controls['courseName']"
                [fieldConfig]="{ data: this.coursesSelectData, type: 'select' }"
                formControlName="courseName"
                [label]="'Curso'"
            ></app-bordered-field>
        </div>
        <div class="col-4">
            <app-bordered-field
                [abstractControl]="this.form.controls['contentType']"
                [fieldConfig]="{ data: this.contentTypeSelectData, type: 'select' }"
                formControlName="contentType"
                [label]="'Tipo de conteúdo'"            
            ></app-bordered-field>
        </div>
    </div>
    <div class="grid">
        <div class="col-8">
            <app-divider [label]="'Conteúdo'"></app-divider>
        </div>
        <div class="col-8">
            <app-file-upload></app-file-upload>
        </div>
        <div class="col-8">
            <app-bordered-field [label]="'Link do vídeo'"></app-bordered-field>
        </div>
    </div>

</app-default-detail-page>