:host {
    align-items: center;
    background: var(--c-dark-60);
    display: flex;
    height: 100%;
    left: 0px;
    justify-content: center;
    position: absolute;
    top: 0px;
    width: 100%;
}

.modal {
    align-items: center;
    background: var(--c-white-10);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    max-width: 520px;
    padding: 48px 24px;
    width: 100%;
}

.icon-loading {
    animation: loading-icon 1500ms linear infinite;
    color: var(--c-primary-60);
    font-size: 56px;
}

.modal-label {
    color: var(--c-dark-60);
}