<app-default-data-page
    [links]="this.links"
    [newRegistryLink]="'/students/enrollments/detail/new'"
    [pageTitle]="'Alunos'"
>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Aluno</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let enrollment of this.data">
                <td></td>
                <td
                    class="link-cell"
                    [routerLink]="'/students/enrollments/detail/' + enrollment.id"
                >{{enrollment.name + " " + enrollment.surname}}</td>
            </tr>
        </tbody>
    </table>
</app-default-data-page>
