<app-default-data-page
    [links]="this.links"
    [newRegistryLink]="'/employees/courses/detail/new'"
    [pageTitle]="'Colaboradores'"
>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Curso</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of this.data">
                <td></td>
                <td
                    class="link-cell"
                    [routerLink]="'/employees/courses/detail/' + course.id"
                >{{course.name}}</td>
            </tr>
        </tbody>
    </table>
</app-default-data-page>