<app-default-data-page
    [links]="this.links"
    [newRegistryLink]="'/employees/employees/detail/new'"
    [pageTitle]="'Colaboradores'"
>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Colaborador</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of this.data">
                <td></td>
                <td
                    class="link-cell"
                    [routerLink]="'/employees/employees/detail/' + employee.id"
                >{{employee.name + " " + employee.surname}}</td>
            </tr>
        </tbody>
    </table>
</app-default-data-page>