<app-default-data-page
    [links]="this.links"
    [newRegistryLink]="'/employees/employees/detail/new'"
    [pageTitle]="'Colaboradores'"
>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Colaborador</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>Andriy Belo Pegado</td>
            </tr>
            <tr>
                <td></td>
                <td>Diogo Bairros Amorim</td>
            </tr>
            <tr>
                <td></td>
                <td>Levi Lage Belchior</td>
            </tr>
        </tbody>
    </table>
</app-default-data-page>