<div class="photo-preview">
    <img alt="Preview da foto enviada" *ngIf="this.imageUrl !== ''" [src]="this.imageUrl">
    <div class="photo-preview__placeholder" *ngIf="this.imageUrl === ''">
        <span class="icon-user placeholder__icon"></span>
    </div>
</div>
<div class="solicitation-details">
    <div class="solicitation-details__class">
        <span class="class__student text-preset-400">Gato Miau da SIlva</span>
        <span class="class__class text-preset-290">Aula de Guitarra com o Prof. Nélio Alves no dia 01/02/2022</span>
    </div>
    <span class="solicitation-details__message text-preset-360">Ta chovendo muito, muito mesmo, remarca para mim, por favor. Agora, pensa em uma notificação longa, minha nossa, eu to escrevendo muito, tem dó de mim, pfv. Meu cachorro fugiu de casa, to procurando ele, não ta chovendo não, eu to mto triste com a situação, dps eu toco guitarra, agora eu to bem triste msm</span>
</div>
<input type="checkbox" name="" id="">