<div class="times">
    <span
        class="text-preset-290"
        *ngFor="let step of this.getRangeInSteps(0, 23.5, 0.5)"
        [ngStyle]="{ 'top': (30 + (step*120)) + 'px' }"
        style="top: 30px"
    >{{this.numberToStrHour(step)}}</span>
</div>
<div class="classes">
    <div class="classes__markers">
        <div
            *ngFor="let step of this.getRangeInSteps(0, 23.5, 0.25)"
            [ngStyle]="{ 'top': (30 + (step*120)) + 'px' }"
            style="top: 30px"        
        ></div>
    </div>
    <app-class-post-it
        [class]="class"
        *ngFor="let class of this.classes"
        [ngStyle]="{'height': ((_hourStrToNumber(class.classEndTime) - _hourStrToNumber(class.classStartTime))*120) + 'px',
                    'top': (30 + (_hourStrToNumber(class.classStartTime)*120)) + 'px' }"
    ></app-class-post-it>
    
    <app-class-post-it
        [class]="_newClass"
        *ngIf="this._newClass"
        [ngStyle]="{'height': ((_hourStrToNumber(_newClass.classEndTime) - _hourStrToNumber(_newClass.classStartTime))*120) + 'px',
                    'left': '256px',
                    'top': (30 + (_hourStrToNumber(_newClass.classStartTime)*120)) + 'px'}"
    ></app-class-post-it>
</div>