<app-default-data-page
    [links]="this.links"
    [newRegistryLink]="'/billboard/alerts/detail/new'"
    [pageTitle]="'Avisos'"
>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Aviso</th>
                <th>Conteúdo</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let alert of this.data">
                <td></td>
                <td
                    class="link-cell"
                    [routerLink]="'/billboard/alerts/detail/' + alert.id"
                >{{alert.title}}</td>
                <td>{{alert.content}}</td>
                <td>{{alert.date | date: "yyyy/MM/dd" }}</td>
            </tr>
        </tbody>
    </table>
</app-default-data-page>