:host {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
}

.icon-loading {
    animation: loading-icon 1s linear infinite;
    color: var(--c-primary-60);
    font-size: 24px;
}

.label {
    color: var(--c-dark-60);
}