<app-default-detail-page
    [createCallback]="this.courseService.create.bind(this.courseService)"
    [form]="this.form"
    [links]="this.links"
    [loadDataCallback]="this.courseService.read.bind(this.courseService)"
    [pageTitle]="'Colaboradores'"
    [returnLink]="'/employees/courses'"
>
    <div class="grid" [formGroup]="this.form">
        <div class="col-8">
            <app-bordered-field 
                [abstractControl]="this.form.controls['name']"
                [label]="'Nome do curso'"
                formControlName="name"
            ></app-bordered-field>
        </div>
        <div class="col-4">
            <app-radio-button-group 
                [abstractControl]="this.form.controls['isActive']"
                [form]="this.form"
                [formControlName]="'isActive'"
                [label]="'Curso ativo?'"
                [radioValues]="[{ label: 'Não', value: false }, { label: 'Sim', value: true }]"
            ></app-radio-button-group>
        </div>
    </div>
</app-default-detail-page>
