:host {
    border: 1px dashed var(--c-dark-20);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    width: 100%;
}

.photo-preview {
    border-radius: 50%;
    flex-shrink: 0;
    height: 80px;
    overflow: hidden;
    width: 80px;
}

.photo-preview__placeholder {
    background-color: var(--c-blue-30);
    height: 100%;
    width: 100%;
}

.instructions {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
}

.instructions__upload-instructions {
    display: flex;
    flex-direction: column;
}

.upload-instructions__drag-or-click-to-upload {
    color: var(--c-dark-60);
}

.upload-instructions__allowed-files {
    color: var(--c-dark-40);
}

.instructions__delete-instructions {
    color: var(--c-red-40);
    cursor: pointer;
    transition: 250ms;
}

.instructions__delete-instructions:hover {
    color: var(--c-red-60);
}