<app-default-detail-page
    [links]="this.links"
    [pageTitle]="'Lista de presença'"
>
    <div class="grid">
        <div class="col-4">
            <app-bordered-field [label]="'Professor'"></app-bordered-field>
        </div>
        <div class="col-4">
            <app-bordered-field [label]="'Curso'"></app-bordered-field>
        </div>
        <div class="col-4">
            <app-bordered-field [label]="'Data (Opcional)'"></app-bordered-field>
        </div>
    </div>
</app-default-detail-page>