<ng-container *ngIf="this.class">
    <div class="status {{this.class._type}}"></div>
    <div class="class-data" *ngIf="this.class._type !== 'break' && this.class._type !== 'not-avaliable'">
        <div class="class-data_student-data">
            <span class="student-data__name text-preset-340">{{this.class.studentName}}</span>
            <span class="student-data__class text-preset-290">{{this.class.plan.courseName}}</span>
        </div>
    </div>
    <span class="status-description text-preset-290" *ngIf="this.class._type === 'break' || this.class._type === 'not-avaliable'">
        {{this.class._type === "break" ? "Intervalo" : "Fora do horário de serviço"}}
    </span>
</ng-container>