<app-default-data-page
    [links]="this.links"
    [newRegistryLink]="'/content-management/new'"
    [pageTitle]="'Gerenciador de conteúdo'"
>
    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Descrição</th>
                <th>Curso</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contentManagement of this.data">
                <td>{{contentManagement.title}}</td>
                <td>{{contentManagement.description}}</td>
                <td>{{contentManagement.course.name}}</td>
                <td>
                    <a [href]="contentManagement.contentUrl" target="_blank">Link</a>
                </td>
            </tr>
        </tbody>
    </table>
</app-default-data-page>