<div class="field-group">
    <div class="field-group__label-wrapper">
        <div class="label-wrapper__left-border"></div>
        <span class="label-wrapper__label text-preset-290" *ngIf="this.label != ''">{{this.label}}</span>
        <div class="label-wrapper__right-border"></div>
    </div>
    <div class="field-group__input-wrapper">
        <input
            class="text-preset-400"            
            (focus)="this.onBaseTouchedFn()"
            (input)="this.formFieldOnChange($event)"
            *ngIf="this.fieldConfig.type === 'input'"
            [(ngModel)]="this.value"
            [readonly]="this.readOnly"
            [type]="this.type"
        >
        <select
            class="text-preset-400"            
            (focus)="this.onBaseTouchedFn()"
            (change)="this.formFieldOnChange($event)"
            *ngIf="this.fieldConfig.type === 'select'"
            [(ngModel)]="this.value"
        >
            <option *ngFor="let option of this.fieldConfig.data" [value]="option.value">{{option.label}}</option>
        </select>
        <textarea
            class="text-preset-400"            
            (focus)="this.onBaseTouchedFn()"
            (input)="this.textareaOnChange($event)"
            *ngIf="this.fieldConfig.type === 'textarea'"
            [(ngModel)]="this.value"
            [readonly]="this.readOnly"
        ></textarea>
    </div>
</div>
<span class="error-message text-preset-360">{{this.error}}</span>